.time-left-container {
  position: relative;
  margin-bottom: 5vh;
  width: 700px;
  height: 150px;

  border: solid 7px black;

  text-align: center;

  &__time {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    font-size: 2.5em;
    font-weight: bold;
  }

  &__text {
    position: absolute;
    bottom: -20px;
    width: 100%;

    font-size: 1.7em;
    font-weight: bold;

    z-index: 2;
  }

  &__white-cover {
    position: absolute;
    bottom: -15px;
    left: calc(25%);

    height: 20px;
    width: 50%;

    background-color: white;

    z-index: 1;
  }
}
